In [1]:
# Exercise 1 - read files into python

import pandas as pd

file1= pd.read_csv('file1.csv')
file2= pd.read_csv('file2.csv')
file3= pd.read_csv('file3.csv')

In [2]:
# Exercise 2 - show the Dataframes shapes

display(file1.shape)
display(file2.shape)
display(file3.shape)

(4008, 11)

(996, 11)

(7070, 11)

In [3]:
# Exercise 3 - standardize the header names

# First look at the different header names by using the column function
display(file1.columns)
display(file2.columns)
display(file3.columns)

# Decide to put everything in lower cases
# For file 1
cols1 = []
for column in file1.columns:
    cols1.append(column.lower()) #add the new column with lower cases into the list
cols1 #show the list of cols
file1.columns = cols1
print(file1.columns)

# For file 2
cols2 = []
for column in file2.columns:
    cols2.append(column.lower()) #add the new column with lower cases into the list
cols2 #show the list of cols
file2.columns = cols2
print(file2.columns)

# For file 3
cols3 = []
for column in file3.columns:
    cols3.append(column.lower()) #add the new column with lower cases into the list
cols3 #show the list of cols
file3.columns = cols3
print(file3.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')
Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'total claim amount', 'policy type', 'vehicle class'],
      dtype='object')
Index(['customer', 'state', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class'],
      dtype='object')

In [4]:
# Exercise 4 - rearrange the columns in the dataframe

# We will use the order of the file1 for all the other files
# For file2 it is easy we can just use the same words
# file2 = file2[file1.columns] - decides that we will take the file1 columns and translate them to file2
file2 = file2[['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount']]

# For file3 we first have to rename some variables
file3 = file3.rename(columns={'state':'st'}) #if i want to make a change - save it in a variable that is overwritten, data.rename means we need to provide a dictionary, keys are the old column names, values are the new column names
# Now sort
file3 = file3[['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount']]

In [5]:
# Exercise 9b Outtake - correct the values in the customer lifetime value for file 1 and file 2
# FIRST check the types - .dtypes 
#file 1
print(file1['customer lifetime value'])

#force the dtype to be numeric
file1['customer lifetime value'] = file1['customer lifetime value'].str.rstrip("%").astype(float)/100
print(file1['customer lifetime value'])

#file 2
file2['customer lifetime value'] = file2['customer lifetime value'].str.rstrip("%").astype(float)/100
print(file2['customer lifetime value'])

0               NaN
1        697953.59%
2       1288743.17%
3        764586.18%
4        536307.65%
           ...
4003            NaN
4004            NaN
4005            NaN
4006            NaN
4007            NaN
Name: customer lifetime value, Length: 4008, dtype: object
0              NaN
1        6979.5359
2       12887.4317
3        7645.8618
4        5363.0765
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer lifetime value, Length: 4008, dtype: float64
0       3239.1247
1       4626.8011
2       8997.0402
3      25807.0630
4       3808.1221
          ...
991     8471.4175
992     5431.2191
993     5689.6441
994     3686.7238
995     3992.5839
Name: customer lifetime value, Length: 996, dtype: float64

In [6]:
# Exercise 5 - Concatenate the three dataframes

data = pd.concat([file1,file2,file3], axis = 0)
print(data.shape)

#Also check the NA columns
display(data.isna().sum())

(12074, 11)

customer                     2937
st                           2937
gender                       3059
education                    2937
customer lifetime value      2944
income                       2937
monthly premium auto         2937
number of open complaints    2937
policy type                  2937
vehicle class                2937
total claim amount           2937
dtype: int64

In [7]:
# Exercise 6 - numerical columns - add .columns to only see the columns and not the whole dataframe

data._get_numeric_data().columns

Index(['customer lifetime value', 'income', 'monthly premium auto',
       'total claim amount'],
      dtype='object')

In [8]:
# Exercise 7 - categorical columns

data.select_dtypes('object').columns

Index(['customer', 'st', 'gender', 'education', 'number of open complaints',
       'policy type', 'vehicle class'],
      dtype='object')

In [9]:
# Exercise 8 - understand the meaning of all columns
display(data.dtypes)
display(data.isna().sum())

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value      float64
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

customer                     2937
st                           2937
gender                       3059
education                    2937
customer lifetime value      2944
income                       2937
monthly premium auto         2937
number of open complaints    2937
policy type                  2937
vehicle class                2937
total claim amount           2937
dtype: int64

In [10]:
# Exercise 9a - Delete the column education and open complaints

data = data.drop(['education', 'number of open complaints'], axis = 1) #I can also drop customer because each value is unique and will not help us
display(data)

,customer,st,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,6979.535900,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,12887.431700,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,7645.861800,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,5363.076500,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,23405.987980,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,8163.890428,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,2611.836866,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [11]:
# Exercise 9c - check for duplicate rows and remove them

print(data.shape)
data_copy = data.copy()
data_copy = data_copy.drop_duplicates()
print(data_copy.shape)
data = data_copy
print(data)

(12074, 9)
(9135, 9)
     customer          st gender  customer lifetime value   income  \
0     RB50392  Washington    NaN                      NaN      0.0
1     QZ44356     Arizona      F              6979.535900      0.0
2     AI49188      Nevada      F             12887.431700  48767.0
3     WW63253  California      M              7645.861800      0.0
4     GA49547  Washington      M              5363.076500  36357.0
...       ...         ...    ...                      ...      ...
7065  LA72316  California      M             23405.987980  71941.0
7066  PK87824  California      F              3096.511217  21604.0
7067  TD14365  California      M              8163.890428      0.0
7068  UP19263  California      M              7524.442436  21941.0
7069  Y167826  California      M              2611.836866      0.0

      monthly premium auto     policy type  vehicle class  total claim amount
0                   1000.0   Personal Auto  Four-Door Car            2.704934
1                     94.0   Personal Auto  Four-Door Car         1131.464935
2                    108.0   Personal Auto   Two-Door Car          566.472247
3                    106.0  Corporate Auto            SUV          529.881344
4                     68.0   Personal Auto  Four-Door Car           17.269323
...                    ...             ...            ...                 ...
7065                  73.0   Personal Auto  Four-Door Car          198.234764
7066                  79.0  Corporate Auto  Four-Door Car          379.200000
7067                  85.0  Corporate Auto  Four-Door Car          790.784983
7068                  96.0   Personal Auto  Four-Door Car          691.200000
7069                  77.0  Corporate Auto   Two-Door Car          369.600000

[9135 rows x 9 columns]

In [12]:
# Exercise 9d - filter out the data for customers who have an income of <0 - show only people with a positive income

data[data['income'] > 0]

,customer,st,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
2,AI49188,Nevada,F,12887.431700,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,5363.076500,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,8256.297800,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,5380.898600,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000
8,DY87989,Oregon,M,24127.504000,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000
...,...,...,...,...,...,...,...,...,...
7063,TF56202,California,M,5032.165498,66367.0,64.0,Personal Auto,Two-Door Car,307.200000
7064,YM19146,California,F,4100.398533,47761.0,104.0,Personal Auto,Four-Door Car,541.282007
7065,LA72316,California,M,23405.987980,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7068,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000